#login-form {
  width: 450px;
  min-height: 500px;
  height: auto;
  border-radius: 5px;
  margin: 2% auto;
  box-shadow: 0 20px 50px hsla(30, 2%, 19%, 0.699);
  padding: 2%;
  background-image: linear-gradient(-225deg, #f5fbb4a7 50%, #8bb1a27d 50%);
}

.form-group {
  margin-bottom: 0;
  border-bottom: 1px solid #efefef69;
  position: relative;
  background: transparent;
  padding: 7px 0;
  font-weight: light;
  height: auto;
}
.form-group:hover {
  border-color: rgba(255, 255, 255, 0.752);
}
.form-control {
  background: #fff;
  border: 0;
  width: 100%;
  box-shadow: 0 0 0;
  border-radius: 4px;
  padding: 7px 0px 10px 9px;
  font-weight: light;
  font-size: 16px;
  height: auto;
}
.boton {
  margin-top: 30px;
}
.login-button {
  position: relative;
  background: none;
  border: solid 1px #121212;
  border-radius: 3px;
  transition: all 0.2s linear;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.login-button:hover {
  color: #fff;
  box-shadow: 2px 2px 3px hsla(30, 2%, 19%, 0.699),
    -2px -2px 3px hsla(30, 2%, 19%, 0.385);
  transform: translateY(-2px);
}

p {
  letter-spacing: 0.05em;
  font-size: 15px;
}
